/*  TIPOGRAFIAS
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.card-img-top {
    border-radius: 0;
}

@font-face {
    font-family: 'champagne_limousines';
    src: url('../fonts/champagne_limousines.woff2') format('woff2'), url('../fonts/champagne_limousines.woff') format('woff'), url('../fonts/champagne_limousines.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

.whatsapp {
    color: #25d366;
}

.phone-icon {
    /*color: #72f46c;*/
    color: #25d366;
}

.champagne {
    font-family: 'champagne_limousines', sans-serif;
}

h2.champagne {
    font-family: 'champagne_limousines', sans-serif;
    font-size: 3rem;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.text-golden {
    background: -webkit-linear-gradient(left, #ac8010, #ffda7a, #ac8010);
    background: -o-linear-gradient(right, #ac8010, #ffda7a, #ac8010);
    background: -moz-linear-gradient(right, #ac8010, #ffda7a, #ac8010);
    background: linear-gradient(to right, #ac8010, #ffda7a, #ac8010);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mt-8rem {
    margin-top: 8rem!important;
}


/*===============================*/

nav {
    min-height: 100px!important;
    background-color: black;
}

.navbar-brand {
    padding: 4px 0px;
    height: 80px;
    display: block;
    float: none;
}

.navbar-brand>img {
    display: block;
    max-height: 140%;
    /* TODO maybe mover a una media query */
    margin: auto 40%;
    /* En movil el logo se ve enmedio bien perron, en desktop se ve un poco raro */
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    /*color: #daa520!important;*/
    text-transform: uppercase;
    font-size: 14px!important;
    color: #daa520;
    background: -webkit-linear-gradient(left, #ac8010, #ffda7a, #ac8010);
    background: -o-linear-gradient(right, #ac8010, #ffda7a, #ac8010);
    background: -moz-linear-gradient(right, #ac8010, #ffda7a, #ac8010);
    background: linear-gradient(to right, #ac8010, #ffda7a, #ac8010);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* iconos ocultos */

.nav-item>a>i {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .15s ease;
    transition: .15s ease;
}

.nav-item>a:hover i {
    visibility: visible;
    opacity: 1;
}

.dropdown-item:hover {
    color: #e8b84c;
    background-color: #424242;
}

.telefono {
    font-size: 18px!important;
    letter-spacing: 1px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: #daa520;
}

.dropdown-divider {
    border-top: 1px solid #424242;
}

.carousel {
    /*max-height: 750px;*/
    overflow: hidden;
}

.hr-main {
    max-width: 250px;
    margin: 15px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 4px transparent;
    border-color: #daa520;
    margin-bottom: 3rem;
    border-image: linear-gradient(to right, #daa520 0px, #ffda7a 50%, #daa520 100%);
    border-image-slice: 1;
}

.hr-main:after {
    font-family: FontAwesome;
    font-size: 2em;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 0.25em;
    content: '\f118';
    color: #ffda7a;
    background-color: white;
}

#ciudades {
    padding-bottom: 4rem;
}

.card {
    border: none;
    border-radius: 0;
}

.city-card {
    background: -webkit-linear-gradient(left, #daa520, #e8bc4c, #daa520);
    background: -o-linear-gradient(right, #daa520, #e8bc4c, #daa520);
    background: -moz-linear-gradient(right, #daa520, #e8bc4c, #daa520);
    background: linear-gradient(to right, #daa520, #e8bc4c, #daa520);
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: black;
    margin: 10px;
}

#trabajos>.hr-main:after {
    background-color: black;
}

#trabajos {
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#trabajos>.container>.d-flex>img {
    padding: 4px;
}

.footer {
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 0px!important;
}

.footer-middle {
    border: solid black;
    border-width: 0px 3px;
}

.footer-logo {
    height: 100px;
    width: auto;
}


/* 
██████╗  █████╗ ██╗     ███████╗████████╗████████╗███████╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗      ██████╗ ██████╗ ██████╗ ███████╗███████╗
██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝╚══██╔══╝██╔════╝    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗    ██╔════╝██╔═══██╗██╔══██╗██╔════╝██╔════╝
██████╔╝███████║██║     █████╗     ██║      ██║   █████╗      ██║     ██║   ██║██║     ██║   ██║██████╔╝    ██║     ██║   ██║██║  ██║█████╗  ███████╗
██╔═══╝ ██╔══██║██║     ██╔══╝     ██║      ██║   ██╔══╝      ██║     ██║   ██║██║     ██║   ██║██╔══██╗    ██║     ██║   ██║██║  ██║██╔══╝  ╚════██║
██║     ██║  ██║███████╗███████╗   ██║      ██║   ███████╗    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║    ╚██████╗╚██████╔╝██████╔╝███████╗███████║
╚═╝     ╚═╝  ╚═╝╚══════╝╚══════╝   ╚═╝      ╚═╝   ╚══════╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝     ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝╚══════╝
*/


/* Palette URL: http://paletton.com/#uid=7151q0krjrmgDyQlyt7t5lAyIgG */


/*
.color-primary-0 { color: #daa520 } main
.color-primary-1 { color: #FFDA7A }
.color-primary-2 { color: #E8BC4C }
.color-primary-3 { color: #AC8010 }
.color-primary-4 { color: #855F00 }

.color-secondary-1-0 { color: #7AC61D } main secundario
.color-secondary-1-1 { color: #B3EA70 }
.color-secondary-1-2 { color: #93D345 }
.color-secondary-1-3 { color: #5D9D0E }
.color-secondary-1-4 { color: #437900 }

.color-secondary-2-0 { color: #BB1B5C } main secundario
.color-secondary-2-1 { color: #DE6B99 }
.color-secondary-2-2 { color: #C74177 }
.color-secondary-2-3 { color: #940D44 }
.color-secondary-2-4 { color: #72002E }

.color-complement-0 { color: #263696 } main complementario
.color-complement-1 { color: #646FB6 }
.color-complement-2 { color: #424F9F }
.color-complement-3 { color: #192576 }
.color-complement-4 { color: #0B165B }

===== RGBA ====

.rgba-primary-0 { color: rgba(218,165, 32,1) }
.rgba-primary-1 { color: rgba(255,218,122,1) }
.rgba-primary-2 { color: rgba(232,188, 76,1) }
.rgba-primary-3 { color: rgba(172,128, 16,1) }
.rgba-primary-4 { color: rgba(133, 95,  0,1) }

.rgba-secondary-1-0 { color: rgba(122,198, 29,1) }
.rgba-secondary-1-1 { color: rgba(179,234,112,1) }
.rgba-secondary-1-2 { color: rgba(147,211, 69,1) }
.rgba-secondary-1-3 { color: rgba( 93,157, 14,1) }
.rgba-secondary-1-4 { color: rgba( 67,121,  0,1) }

.rgba-secondary-2-0 { color: rgba(187, 27, 92,1) }
.rgba-secondary-2-1 { color: rgba(222,107,153,1) }
.rgba-secondary-2-2 { color: rgba(199, 65,119,1) }
.rgba-secondary-2-3 { color: rgba(148, 13, 68,1) }
.rgba-secondary-2-4 { color: rgba(114,  0, 46,1) }

.rgba-complement-0 { color: rgba( 38, 54,150,1) }
.rgba-complement-1 { color: rgba(100,111,182,1) }
.rgba-complement-2 { color: rgba( 66, 79,159,1) }
.rgba-complement-3 { color: rgba( 25, 37,118,1) }
.rgba-complement-4 { color: rgba( 11, 22, 91,1) }


*/


/*https://www.w3schools.com/howto/howto_css_image_overlay.asp*/


/* 
 ██████╗ ██╗   ██╗███████╗██████╗ ██╗      █████╗ ██╗   ██╗███████╗
██╔═══██╗██║   ██║██╔════╝██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██╔════╝
██║   ██║██║   ██║█████╗  ██████╔╝██║     ███████║ ╚████╔╝ ███████╗
██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗██║     ██╔══██║  ╚██╔╝  ╚════██║
╚██████╔╝ ╚████╔╝ ███████╗██║  ██║███████╗██║  ██║   ██║   ███████║
 ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝ */

.city-container {
    position: relative;
    /*width: 50%;*/
}

.city-card {
    margin: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.city-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #E8BC4C;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.city-container:hover .city-overlay {
    bottom: 0;
    height: 100%;
}

.overlay-text {
    white-space: nowrap;
    color: white;
    /*font-size: 20px;*/
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.student-container {
    margin: 10px 0;
}

.student-container:hover .student-overlay {
    opacity: 1;
}

.student-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 218, 122, 0.5);
}

.student-card {
    background-color: transparent!important;
    margin: 0;
}


/* 
 ██████╗██╗   ██╗██████╗ ███████╗ ██████╗ ███████╗    ███████╗████████╗██╗   ██╗███████╗███████╗
██╔════╝██║   ██║██╔══██╗██╔════╝██╔═══██╗██╔════╝    ██╔════╝╚══██╔══╝██║   ██║██╔════╝██╔════╝
██║     ██║   ██║██████╔╝███████╗██║   ██║███████╗    ███████╗   ██║   ██║   ██║█████╗  █████╗  
██║     ██║   ██║██╔══██╗╚════██║██║   ██║╚════██║    ╚════██║   ██║   ██║   ██║██╔══╝  ██╔══╝  
╚██████╗╚██████╔╝██║  ██║███████║╚██████╔╝███████║    ███████║   ██║   ╚██████╔╝██║     ██║     
 ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚══════╝    ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝      */

.cover {
    margin-bottom: 5rem;
}

.btn-courses {
    margin: 4rem auto;
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    letter-spacing: 4px;
    max-width: 480px;
    border-radius: 0;
    padding: 12px 24px;
}

.btn-courses:hover {
    color: #424242;
}

.info-courses-black {
    padding: 5px auto;
    background-color: black;
    color: white;
    letter-spacing: 4px;
    font-size: 36px;
}

.arrow-up {
    margin-top: 0;
    width: 0;
    height: 0;
    margin-left: 80%;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid black;
}

.seguimiento-card {
    border: 1px solid black;
    background-color: white!important;
    background: transparent!important;
    margin-top: 25px;
    margin-bottom: 45px;
}

.seguimiento-card>.card-body>.card-title {
    font-size: 46px;
}

.seguimiento-card>.card-body>.card-title>strong {
    font-size: 62px;
}


/* .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
} */

section#reviews {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,0e0e0e+100 */
    background: #303030;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #303030 0%, #0e0e0e 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #303030 0%, #0e0e0e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #303030 0%, #0e0e0e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#0e0e0e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    min-height: 400px;
    padding-top: 30px;
}

.reviews-title {
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.review {
    padding-left: 20%;
    padding-right: 20%;
}

.review>p {
    font-size: 24px;
}

.star-container {
    margin-bottom: 15px;
}

.fa-star,
.fa-star-half {
    color: #daa520;
}


/* 
██████╗ ██████╗  ██████╗ ██████╗ ██╗   ██╗ ██████╗████████╗ ██████╗ ███████╗    ███████╗████████╗██╗   ██╗███████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██║   ██║██╔════╝╚══██╔══╝██╔═══██╗██╔════╝    ██╔════╝╚══██╔══╝██║   ██║██╔════╝██╔════╝
██████╔╝██████╔╝██║   ██║██║  ██║██║   ██║██║        ██║   ██║   ██║███████╗    ███████╗   ██║   ██║   ██║█████╗  █████╗  
██╔═══╝ ██╔══██╗██║   ██║██║  ██║██║   ██║██║        ██║   ██║   ██║╚════██║    ╚════██║   ██║   ██║   ██║██╔══╝  ██╔══╝  
██║     ██║  ██║╚██████╔╝██████╔╝╚██████╔╝╚██████╗   ██║   ╚██████╔╝███████║    ███████║   ██║   ╚██████╔╝██║     ██║     
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═════╝  ╚═════╝  ╚═════╝   ╚═╝    ╚═════╝ ╚══════╝    ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝                                                                                                                              
*/

#products {
    margin-top: 45px;
}

.product-card {
    background-color: black!important;
    color: white!important;
}

.product-card>.card-body>h5 {
    margin-bottom: .2rem;
}

.card-collapse>.card-header {
    background-color: black;
    color: white;
    border-radius: 0;
}

.card-collapse>.card-header:hover {
    background-color: #242424;
    color: white;
}

.card-collapse:hover {
    text-decoration: none;
}

.product-hr {
    width: 50%;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 4px white;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.btn-product {
    color: black;
    background-color: white;
    border-color: whitesmoke;
    padding: 6px 30px;
    border-radius: 30px;
}

.btn-product:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #424242;
}

.product-price {
    font-size: 24px;
}

.product-row {
    margin-top: 50px;
    margin-bottom: 50px;
}


/*
 ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗ ██████╗ 
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝██╔═══██╗
██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║   ██║   ██║
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║   ██║   ██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║   ╚██████╔╝
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝    ╚═════╝ 
*/

.contact-heading {
    letter-spacing: .4rem;
}

.btn-contact {
    background-color: #daa520;
    color: white;
    border-radius: 0;
}

.btn-contact:hover {
    background-color: #e8b84c;
}

section#contact {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #242424;
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-control:focus {
    border-bottom-width: 2px;
    border-color: #daa520;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
}

#map {
    width: 100%;
    height: 600px;
}


/*
███╗   ██╗ ██████╗ ███████╗ ██████╗ ████████╗██████╗  ██████╗ ███████╗
████╗  ██║██╔═══██╗██╔════╝██╔═══██╗╚══██╔══╝██╔══██╗██╔═══██╗██╔════╝
██╔██╗ ██║██║   ██║███████╗██║   ██║   ██║   ██████╔╝██║   ██║███████╗
██║╚██╗██║██║   ██║╚════██║██║   ██║   ██║   ██╔══██╗██║   ██║╚════██║
██║ ╚████║╚██████╔╝███████║╚██████╔╝   ██║   ██║  ██║╚██████╔╝███████║
╚═╝  ╚═══╝ ╚═════╝ ╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

section#about-us {
    margin-top: 50px;
    margin-bottom: 40px;
}

section#why-us {
    margin-bottom: 100px;
}

#about-us p {
    font-size: 20px;
}

#why-us p {
    font-size: 26px;
}

.about-icon {
    margin-left: 0;
    margin-right: 0;
}


/* 
██████╗ ██████╗ ███████╗██╗      ██████╗  █████╗ ██████╗ ███████╗██████╗ 
██╔══██╗██╔══██╗██╔════╝██║     ██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗
██████╔╝██████╔╝█████╗  ██║     ██║   ██║███████║██║  ██║█████╗  ██████╔╝
██╔═══╝ ██╔══██╗██╔══╝  ██║     ██║   ██║██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║     ██║  ██║███████╗███████╗╚██████╔╝██║  ██║██████╔╝███████╗██║  ██║
╚═╝     ╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/