nav {
    min-height: 100px!important;
}

.navbar-brand {
    padding: 4px 0px;
    height: 80px;
    display: block;
    float: none;
}

.navbar-brand>img {
    display: block;
    max-height: 140%;
    /* TODO maybe mover a una media query */
    margin: auto 40%; /* En movil el logo se ve enmedio bien perron, en desktop se ve un poco raro */
}

.carousel {
  max-height: 750px;
  overflow: hidden;
}

.carousel img{

}

